$page-bg-color: #d5d5df;
$brand-color: #4141d1;
$brand-color-faded: #d0d0ff;
$brand-color-darker: #3d3dbf;
$white-color: #e5e5e9;

$red-color: #dd4444;
$red-color-faded: #f5e1e1;
$red-color-darker: #cf4242;

$shadow-color: #7474747d;

$text-font: 'Inter', sans-serif;
$text-color: #232329;
$text-color-faded: #9B9BA1;

$ui-max-width: 1500px;